<launch>
  <param name="/use_sim_time" value="false" />

  <!-- SPAWN MULTI ROBOTS -->
  <include file="$(find turtlebot_fleet)/launch/robots_real.launch"/>

  <!-- START RVIZ -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_fleet)/rviz/fleet_sim.rviz" output="screen"/> -->
</launch>