<launch>
  <!-- FREE FLEET ROBOT 1 -->
  <node pkg="free_fleet_client_ros1" type="free_fleet_client_ros1" output="screen"
        name="free_fleet_client">
    <param name="fleet_name" type="string" value="turtlebot2"/>
    <!-- <param name="robot_name" type="string" value="$(arg robot_name)"/> -->
    <param name="robot_name" type="string" value="robot1"/>
    <param name="level_name" type="string" value="L1"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
    <param name="battery_state_topic" value="/fake_battery_state"/>
    <!-- <param name="robot_frame" value="$(arg robot_name)_tf/base_footprint"/>
    <param name="move_base_server_name" value="/$(arg robot_name)/move_base"/> -->
    <param name="robot_frame" value="base_footprint"/>
    <param name="move_base_server_name" value="move_base"/>
  </node>
</launch>